{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="container" style="margin-top: 70px; margin-bottom: 70px">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="card">
                    {% if not user.is_authenticated %}
                        <div class="card-header">Login</div>
                        <div class="card-body">
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                {% for field in login_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger">{{ login_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <a href="{% url 'forgot_password' %}" class="float-left">Forget password?</a>
                                <input type="submit" name="login" class="btn btn-primary float-right">
                            </form>
                        </div>
                    {% else %}
                        <script type="text/javascript">
                            window.location.href = '/';
                        </script>
                    {% endif %}
                </div>
            </div>
            <div class="col">

            </div>

        </div>
    </div>


{% endblock content %}