
{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <div class="container" style="margin-top: 70px; margin-bottom: 70px">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <div class="card">
                    {% if not user.is_authenticated %}
                        <div class="card-header">Register</div>
                        <div class="card-body">
                            <form action="{% url 'register' %}" method="POST">
                                {% csrf_token %}
                                {% for field in reg_form %}
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p class="text-danger">{{ field.errors.as_text }}</p>
                                {% endfor %}
                                <span class="text-danger">{{ reg_form.non_field_errors }}</span>
                                <div class="clearfix"></div>
                                <input type="submit" name="Register" class="btn btn-light float-right">
                            </form>
                        </div>
                    {% else %}
                        <script type="text/javascript">
                            window.location.href = '/';
                        </script>
                    {% endif %}
                </div>
            </div>
            <div class="col">

            </div>

        </div>
    </div>


{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $('#send_code').click(function(){
            var email = $('#id_email').val();
            if (email == ''){
                $('#tip').text('Email can not be blank');
                return false;
            }

            $.ajax({
                url: '{% url 'send_verification_code' %}',
                type: GET,
                cache: false,
                data: {
                    'email:': email,
                    'send_for': 'register_code'
                    },
                success: function(data){
                    if(data['status']==ERROR){
                        alert(data['status']);
                    }
                }
            });

            $('#send_code').addClass('disabled');
            $('#send_code').attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('Verify');
                    return false;
                }

                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}