
{% extends 'base.html' %}

{% block content %}
    <div class="containter" style="margin-top: 70px; margin-bottom: 70px;">
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
                    <ul style="list-style-type: none;">
                        <li>Nickname：{{ user.get_nickname }} <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">Change Nickname</a></li>
                        <li>Email：{% if user.email %}{{ user.email }}{% else %}Not Bind <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">Bind Email</a>{% endif %}</li>
                        <li>Last Login：{{ user.last_login|date:"Y-m-d H:i:s" }}</li>
                        <li><a href="{% url 'change_password' %}">Change Password</a></li>
                    </ul>
                {% else %}
                    <span>Not login, redirect to home...</span>
                    <script type="text/javascript">
                        window.location.href = '/';
                    </script>
                {% endif %}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}
